<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.godlife.app.dao.CInputDao">
 	
 <insert id="cinsert">
 
 insert into cinput
 (c_code, c_title, c_write, c_start, c_end, c_count, c_detail
)values 
(#{c_code}, #{c_title}, #{c_write}, #{c_start}, #{c_end}, #{c_count}, #{c_detail})
 
 </insert>
 
 	<update id="update">

		UPDATE cinput
		SET c_title = #{c_title},
		c_write = #{c_write},
		c_start = #{c_start},
		c_end= #{c_end},
		c_count= #{c_count},
		c_detail= #{c_detail}
		WHERE c_code = #{c_code}

	</update>
 	
 </mapper> 