@charset "UTF-8";

article.detail {
  position: absolute;
  top: 30%;
  left: 35%;
  width: 30%;
  margin: 5px auto;
}

article.detail.button {
  top: 70%;
}

article.detail div {
  width: 80%;
  display: flex;
  margin: 5px auto;
  justify-content: right;
}

article.detail strong {
  flex: 1;
  background-color: #fdefc2;
  text-align: right;
}

article.detail strong,
article.detail span {
  padding: 12px 5px;
}

article.detail span {
  flex: 3;
  text-align: left;
  margin-left: 3px;
}

article.detail.button {
  text-align: right;
}

article.detail.button button {
  border: none;
  outline: none;
  margin: 5px 0 5px 5px;
  border-radius: 5px;
  padding: 10px 12px;
  cursor: pointer;
}

article.detail.button button:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

button.detail {
  color: white;
}

button.detail.list {
  background-color: orange;
}

button.detail.update {
  background-color: #e4dffd;
}

button.detail.delete {
  background-color: red;
}
